<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="heroe; else divLoading" class="grid mt-2 p-2">
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
            <mat-card-title>
                {{heroe.alter_ego}}
            </mat-card-title>
            <mat-card-subtitle>
                {{heroe.superhero}}
            </mat-card-subtitle>
        </mat-card-header>
        <img [src]="heroe | heroImage" [alt]="heroe.superhero" mat-card-image>
    </mat-card>
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
            <mat-card-title>
                Información
            </mat-card-title>
            <mat-card-subtitle>
                {{heroe.superhero}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    {{heroe.first_appearance}}
                </mat-list-item>
                <mat-list-item>
                    {{heroe.characters}}
                </mat-list-item>
                <mat-list-item>
                    {{heroe.publisher}}
                </mat-list-item>
                <mat-list-item>
                    {{heroe.alter_ego}}
                </mat-list-item>
            </mat-list>
            <button mat-button color="warn" (click)="goBack()">Regresar</button>
        </mat-card-content>
    </mat-card>
</div>