<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{heroe.superhero}}
        </mat-card-title>
        <mat-card-subtitle>
            {{heroe.alter_ego}}
        </mat-card-subtitle>
    </mat-card-header>

    <!-- TODO IMAGEN -->
    <img [src]="heroe | heroImage" alt="{{heroe.superhero}}">

    <mat-card-content>
        <h4 class="mt-2">{{heroe.publisher}}</h4>
        <p>
            <strong>Primera aparición</strong>
            <br>
            <mat-chip-listbox>
                <mat-chip *ngFor="let name of heroe.characters.split(',') | slice:0:3">
                    {{name}}
                </mat-chip>
            </mat-chip-listbox>
        </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <button mat-button mat-raised [routerLink]="['/heroes/edit',heroe.id]">
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        <span class="spacer"></span>
        <button mat-button mat-raised [routerLink]="['/heroes',heroe.id]">
            <mat-icon>more_horiz</mat-icon>
            Más
        </button>

    </mat-card-actions>
</mat-card>