<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="push">
        <mat-toolbar>
            <span>Ménu</span>
            <span class="spacer"></span>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item *ngFor="let item of sidebarList" [routerLink]="item.url" (click)="drawer.toggle()">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                {{item.label}}</mat-list-item>
        </mat-list>
    </mat-drawer>


    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>{{user?.email}}</span>
        <button mat-button (click)="onLogOut()">
        Logout
       </button>
    </mat-toolbar>

    <div class="container p-2">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>