<h1>
    {{currentHero.id ? 'Editar':'Agregar'}} Héroe
    <small *ngIf="currentHero.id">{{currentHero.superhero}}</small>
</h1>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-6">
                        <mat-label>Super Héroe</mat-label>
                        <input matInput type="text" required formControlName="superhero">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Alter ego</mat-label>
                        <input matInput type="text" required formControlName="alter_ego">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Primera aparición</mat-label>
                        <input matInput type="text" required formControlName="first_appearance">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input matInput type="text" required formControlName="characters">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Creador</mat-label>
                        <mat-select required formControlName="publisher">
                            <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                                {{publisher.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Alternative image</mat-label>
                        <input matInput type="text" required formControlName="alt_img">
                    </mat-form-field>
                </form>
                <div class="flex justify-content-between">
                    <button mat-flat-button color="warn" *ngIf="currentHero.id" (click)="onDeleteHero()">Borrar</button>
                    <span></span>
                    <button mat-flat-button color="primary" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 sm:col-6">
        <mat-card>
            <img [src]="currentHero | heroImage" [alt]="currentHero.alter_ego" mat-card-image>
        </mat-card>
    </div>
</div>