<div class="flex flex-column">
    <span class="text-lg mb-4">Login</span>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onLogin()">
        <mat-icon>save</mat-icon>    
        Ingresar
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/new-account">¿ya tienes cuenta?</a>
    </div>
</div>