<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>

<div class="grid mb-8 mt-2">
    <div *ngFor="let heroe of heroes" class="col-12 sm:col-4 md:col-3 xl:col-2">
        <app-card [heroe]="heroe"></app-card>
    </div>
</div>