<div class="flex flex-column p-2">
    <h3>Buscador</h3>
    <mat-form-field>
        <mat-label>Buscador de Héroes</mat-label>
        <input type="text" matInput [formControl]="searchInput" (input)="searchHero()" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">

        <mat-option *ngFor="let heroe of heroes" [value]="heroe">{{heroe.superhero}}
        </mat-option>

        <mat-option *ngIf="(heroes.length===0 && searchInput.value)" value="">No se encontro ningun héroe con el termino {{searchInput.value}}</mat-option>

    </mat-autocomplete>

    {{selectedHero | json}}

</div>