<h1 mat-dialog-title>¿Está seguro?</h1>
<div mat-dialog-content>
    <p>Este proceso no es rreversible, está a punto de eliminar a {{data.superhero}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <span class="spacer"></span>
    <button mat-button (click)="onConfirm()" cdkFocusInitial>Ok</button>
</div>