<div class="flex flex-column">
    <span class="text-lg mb-4">Registrarse</span>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre completo" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>    
        Crear Usuario
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">¿Tienes una cuenta?</a>
    </div>
</div>